@{
    var type = Model.type;
    var message = Model.message;
    var no = Model.no;
    var one = Model.one as Enterprise.Invoicing.Entities.Models.V_BomOrderModel;
    
    var ddl = Model.ddl as List<Enterprise.Invoicing.Entities.Models.Supplier>;
    var supplier = 0; var suppliern = "";
    if (type == "edit")
    {
        supplier = one.supplierId.Value;
        suppliern = one.supplierName;
        ViewBag.Title = "编辑BOM订单单";
    }
    else
    {
        type = "add";
        ViewBag.Title = "新增BOM订单单";
    }
}
<div class="layout_guild"><i></i>您当前的位置：订单管理 > <a href="../bom/orderlist">BOM订单列表</a> > BOM订单 </div>
<div class="content">
    <input type="hidden" value="@type" id="hidtype" />
    <input type="hidden" value="@message" id="message" />
    <input type="hidden" value="@no" id="hidno" /> 
    @if (type == "add")
    {
<div class="material_refer" style="height:80px;">
<label>BOM订单号：</label><input name="" type="text" readonly="readonly"  class="input_gray" style="width:100px;" value="@no" />
<label>部门：</label><input name="" id="txtinsn" readonly="readonly" class="input_gray" type="text"  style="width:60px;" value="@Enterprise.Invoicing.Web.Masterpage.CurrUser.dep_name"/>
<label>人员：</label><input name="" id="txtperson" readonly="readonly" class="input_gray" type="text" style="width:50px;"  value="@Enterprise.Invoicing.Web.Masterpage.CurrUser.name" /> 
<label>仓库：</label><input name="" id="txtdeport" type="text" value=""/> <label>备注：</label><input name="" id="txtremark" type="text" value=""/>  
<br />
<label>客户：</label><input name="" type="text" id="txtcustomer"  style="width:250px;" />  
       <label>订单类别：</label><select id="ddlordertype"><option value="人民币">人民币</option><option value="美金">美金</option></select>
@*<a href="javascript:void(0);" id="btncreate" class="btn_refer">提交</a>*@
</div>
    }

@if (type == "edit")
{
    <div class="material_refer" style="height:80px;">
<label>BOM订单号：</label><input name="" type="text" readonly="readonly"  class="input_gray" style="width:100px;" value="@one.bomOrderNo" />
<label>部门：</label><input name="" type="text"  class="input_gray" readonly="readonly" style="width:60px;" value="@one.depName"/>
<label>人员：</label><input name="" type="text" readonly="readonly" class="input_gray" style="width:50px;" value="@one.staffName" />   
<label>仓库：</label><input name="" id="txtdeport" type="text" value="@one.deportStaff"/><label>备注：</label><input name="" id="txtremark" type="text" value="@one.remark"/>  
<br />
        <label>客户：</label><input name="" type="text"  class="input_gray" readonly="readonly" style="width:250px;" value="@one.supplierName"/>
        <label>订单类别：</label><input name="" type="text"  class="input_gray" readonly="readonly" id="ddlordertype" style="width:120px;" value="@one.orderType"/>

</div>
}
<div class="content_main">
<h2 id="htitle"><i></i>BOM订单明细</h2>
<div class="add">
    <ul>
        <li>
 
<label>产品：</label>
            <input name="" type="text" id="txtbomprice" style="width:500px;"/>
</li> <li style="width:300px;"></li>
         <li>
<label>数量：</label><input name="" type="text" id="txtcount" class="input_width_60px"/></li>
         <li>
<label>单价：</label><input name="" readonly="readonly" type="text" id="txtprice" class="input_width_60px input_gray"/></li>
         <li>
<label>交期：</label><input name="" readonly="readonly"  type="text" id="txtdate" class="input_width_80px"/></li>
        <li>
<label>备注：</label><input name="" type="text" id="txtrem"  style="width:120px;"/></li>
         <li>
<a  href="javascript:void(0);" id="btngl" class="gray_btn">保存</a>
    <input type="hidden" id="hidcount" value="0" />
    <input type="hidden" id="hiddetail" value="" />
    <input type="hidden" id="hidarr" value="" />
</li>   </ul>
</div>
<div  id="detail_table">
@{
    Html.RenderAction("orderonedetail", "bom", new { no = no });   
}
</div> 



</div>

</div>
<script>    
    var no = '@no';
    var type = '@type';


    var hdetail = 0;
    var hcount = 0;
    var htype = "add";
    supplierid = '@supplier';
    suppliername = '@suppliern';
    $(function () {
        var msg = $("#message").val();
        if (msg != "") {
            $.dialog.alert(msg);
            return false;
        }

        $("#btngl").click(savedetail);//新增

        $("#txtdate").datepicker({
            dateFormat: "yy-mm-dd",
            showOn: "button",
            buttonImageOnly: true,
            buttonImage: '../images/front/public/calendar.gif',
            changeMonth: true,
            numberOfMonths: 1
        });
       
    });

    function savedetail() {
        var txtcount = $("#txtcount").val();
        var txtp = $("#txtprice").val();
        var txtr = $("#txtrem").val();
        var txtd = $("#txtdate").val();
        if (bomId == 0 || txtcount == "" || isNaN(txtcount) || txtp == "" || isNaN(txtp)) {
            $.dialog.alert("请选择物料、数量、单价！");
            return false;
        }     
        var ctxt = parseFloat(txtcount);
        if (ctxt <= 0) {
            $.dialog.alert("输入数量必须大于0");
            return false;
        }  
        var ptxt = parseFloat(txtp);
        if (ptxt <= 0) {
            $.dialog.alert("单价必须大于0");
            return false;
        }
        $.post("../bom/saveorderonetemp", { bomId: bomId, type: htype, bomOrderNo: no, detailSn: hdetail, sendDate: txtd, Amount: ctxt, Price: ptxt, OrderDetailRemark: txtr, materialModel: hmodel, materialName: hname, materialNo: hmaterial }, function (data) {
            if (data.status == "error") {
                $.dialog.alert(data.message);
                return false;
            }
            else {
                $("#detail_table").load("../bom/orderonedetail", { no: no }, function (data) { });
                $("#txtcount").val('');
                $("#txtbomprice").val('');
                $("#txtprice").val('');
                $("#txtdate").val('');
                $("#txtrem").val('');
                hdetail = 0;
                bomId = 0;
                htype = "add";
            }
        });
    }
    function editone(detailid, m,name,model,c,r,p,bid,send) {
        hdetail = detailid;
        hmaterial = m, hname = name, hmodel = model, hcount = c;
        bomId = bid;
        $("#txtbomprice").val(name + model);
        $("#txtcount").val(c);
        $("#txtrem").val(r);
        $("#txtprice").val(p); $("#txtdate").val(send);
        htype = "edit";
    }
    function deleteone(no,id, bid) {
        if (confirm("确定删除？")) {
            $.post('../bom/deleteorderone', { no: no, detail: id, bid: bid }, function (data) {
                if (data == "ok") {
                    $("#detail_table").load("../bom/orderonedetail", { no: no }, function (data) { });
                }
                else {
                    $.dialog.alert("删除失败！");
                    return false;
                }
            });
        }
        else
            return false;
    }
    
 
</script>
