@{
    Layout = null;
    var list = Model.list as List<Enterprise.Invoicing.Entities.Models.V_BillCost>;
    var page = Model.pageIndex;
    var pi = 1; var dpi = 1;
    var pageindex = Model.pageIndex;
    var pagesize = Model.pageSize;
    if (pageindex > 1)
    {
        pi = (pageindex - 1) * pagesize + 1;
    } 
     }



<!--表格内容-->

<div class="detail_unfold" style="margin-left:10px;margin-right:10px;margin-top:10px; min-height:500px;*+height:100%; border:1px solid #cbdce7; border-top-left-radius:4px;border-top-right-radius:4px;">
<h2>报销单列表</h2>
<table width="100%" border="0" cellspacing="0" cellpadding="0" class="table_common">
 <thead>
  <tr>
       <th width="4%">序号</th>
    <th width="12%" style="cursor:pointer;" onclick="orderlist('billNo')">报销单号</th>
    <th width="19%" style="cursor:pointer;" onclick="orderlist('title')">报销标题</th>
    <th width="6%" style="cursor:pointer;" onclick="orderlist('makeName')">创建人</th>
    <th width="8%" style="cursor:pointer;" onclick="orderlist('depName')">创建部门</th>
    <th width="8%" style="cursor:pointer;" onclick="orderlist('checkName')">审核</th>
    <th width="8%" style="cursor:pointer;" onclick="orderlist('cfoName')">财务</th>
    <th width="8%" style="cursor:pointer;" onclick="orderlist('bossName')">总经理</th>
    <th width="5%" style="cursor:pointer;" onclick="orderlist('status')">状态</th>
    <th width="10%" style="cursor:pointer;" onclick="orderlist('createDate')">创建日期</th>
    <th width="12%">操作</th>
  </tr>
  </thead>
 <tbody>
     @foreach (var item in list)
     {  
         <tr><td colspan="11">
             <table width="100%" border="0" cellpadding="0" cellspacing="0" >
	<tbody>
        <tr id="tr_@dpi" onclick="loaddetail(@dpi,'../cost/billdetailview','@item.billNo','geturl')">
      <td width="4%">@pi</td>
    <td width="12%">@item.billNo</td>
    <td width="19%" title="@item.title">@(item.title.Length>10?item.title.Substring(0,10)+"...":item.title)</td>
    <td width="6%">@item.makeName</td>
    <td width="8%">@item.depName</td>
    <td width="8%">@(item.staffCheck.HasValue?(item.checkName+"("+(item.checkRes.HasValue?"":(item.checkRes.Value?"通过":"驳回"))+")"):"")</td>
    <td width="8%">@(item.staffCfo.HasValue?(item.cfoName+"("+(item.cfoRes.HasValue?"":(item.cfoRes.Value?"通过":"驳回"))+")"):"")</td>
    <td width="8%">@(item.staffBoss.HasValue?(item.bossName+"("+(item.bossRes.HasValue?"":(item.bossRes.Value?"通过":"驳回"))+")"):"")</td>
    <td width="5%">@if (item.isover == 1)
        {
            <span>完工</span> 
        }
        else
        {
            <span>@Enterprise.Invoicing.Common.Utils.GetStatus(item.status)</span>
        }</td>
    <td width="10%">@item.createDate.ToString("yyyy-MM-dd")</td>
       <td width="12%">   
        @if (item.isover!=1)
        {
            if (Enterprise.Invoicing.Web.Masterpage.CheckRight("bill_check"))
            {
                <a href="javascript:void(0);" onclick="changestatus('bill','@item.billNo',@item.status,'../cost/billlist?page=@page')">@Html.Raw(Enterprise.Invoicing.Common.Utils.GetBtnStr(item.status))</a>
            }  
          if (item.status==0)
          {              
           if (Enterprise.Invoicing.Web.Masterpage.CheckRight("bill_update")||item.staffMake.Value==Enterprise.Invoicing.Web.Masterpage.CurrUser.staffid)
            {
               <a href="billone?type=edit&page=@page&no=@item.billNo" title="修改">修改</a>
        }
              if (Enterprise.Invoicing.Web.Masterpage.CheckRight("bill_invalid"))
            {
           <a href="javascript:void(0);" onclick="changestatus('bill','@item.billNo',-1,'../cost/billlist?page=@page')"  title="作废">作废</a>
        }
              if (Enterprise.Invoicing.Web.Masterpage.CheckRight("bill_delete") || item.staffMake.Value == Enterprise.Invoicing.Web.Masterpage.CurrUser.staffid)
            {
            <span onclick="deleteone('../cost/billdelete','@item.billNo','申请单');"  title="删除">删除</span>  
        }  
          } 
        }
          @if (Enterprise.Invoicing.Web.Masterpage.CheckRight("bill_print"))
          {
              <span onclick="print('报销单','bill','@item.billNo');"  title="打印">打印</span>
          } 
	</td>
   </tr>
                	  </tbody>
    </table>      
          <div  id="detai_div_@dpi" style="display:none;">
              @{
         Html.RenderAction("paydetailview", "cost", new { supplier =0, where = "" });
      }
        </div>

             </td></tr>
        pi++;
        dpi++;
     }
     @if (list.Count < 1)
     {
         <tr><td colspan="11">无明细</td></tr> 
     }
  </tbody>  
</table>
        </div>
    <div class="pagelinks_container" style="margin-bottom:10px;">
       
	 @Html.Partial("~/Views/Shared/page_page.cshtml", new ViewDataDictionary()
       {
           {"pageIndex",Model.pageIndex},{"totalCount",Model.totalCount},{"pageSize",Model.pageSize}
       })
    </div>
<script>
    var c = '@list.Count';
    var detail = [];
    var close = [];
    page = '@page'
    $(function () {
        for (var i = 0; i < c; i++) {
            detail.push(0);
            close.push(0);
        }
    });
</script>