
@{
    var list = Model.list as List<Enterprise.Invoicing.ViewModel.NeedPayDetailModel>;

    var pi = 1;
    }

<table  width="94%" border="0" cellspacing="0" cellpadding="0" class="table_common_yellow ">
      <thead>
        <tr>
          <th width="5%">明细</th>
          <th width="25%">采购单号</th>
          <th width="25%">入库单号</th>
          <th width="15%">入库金额</th>        
          <th width="20%" >入库日期</th>    
          <th width="10%">备注</th>
        </tr>
      </thead>
          <tbody>
     @if (list.Count>0)
     {
        foreach (var item in list)
     {  
  <tr>
      <td>@pi</td>
    <td>@item.purchaseNo</td>
    <td>@item.stockInNo</td>
    <td>@item.cost</td>
    <td>@item.inDate.ToString("yyyy-MM-dd")</td>
    <td>@item.remark</td>
  </tr>
         pi++;
      }    
     }
     else
     {
        <tr>
  <td colspan="10"  bgcolor="#FFFFFF" style="text-align:left;">无申请明细</td></tr> 
     }
</tbody>
    </table> 

