@{
    Layout = null;
    var list = Model.list as List<Enterprise.Invoicing.Entities.Models.MsgSendModel>;

    var page = Model.pageIndex;
    var pi = 1;
    var dpi = 1;
    var pageindex = Model.pageIndex;
    var pagesize = Model.pageSize;
    if (pageindex > 1)
    {
        pi = (pageindex - 1) * pagesize + 1;
    }
     }



<!--表格内容-->

<div class="detail_unfold" style="margin-left:10px;margin-right:10px;margin-top:10px; min-height:500px;*+height:100%; border:1px solid #cbdce7; border-top-left-radius:4px;border-top-right-radius:4px;">
<h2>发件箱</h2>
<table width="100%" border="0" cellspacing="0" cellpadding="0" class="table_common">
 <thead>
  <tr>
       <th width="5%">序号</th>
    <th width="7%">类别</th>
    <th width="40%">标题</th>
    <th width="25%">接收人员</th>
    <th width="10%">发送时间</th>
    <th width="5%">附件</th>
    <th width="8%">操作</th>
  </tr>
  </thead>
 <tbody>
     @foreach (var item in list)
     {  
         <tr>
      <td>@pi</td>
    <td>@item.msgcate</td>
      <td><span title="@item.title" onclick="showmsg('@item.msgId')">@item.title</span></td>
    <td>@item.receNames</td>
    <td>@item.createDate.ToString("yyyy-MM-dd")</td>
    <td>@if(item.hadAttr){
            <a  target='_blank' href='../filepath/message/@item.fileGuid'>下载</a>
        }</td>
    <td> 

                    <span  onclick="deletemsg('@item.msgId');"  title="删除">删除</span> 

 
	</td>
    </tr>
        pi++;
        dpi++;
     }
     @if (list.Count < 1)
     {
         <tr><td colspan="7">未发送消息</td></tr> 
     }
  </tbody>  
</table>
        </div>
    <div class="pagelinks_container" style="margin-bottom:10px;">

	 @Html.Partial("~/Views/Shared/page_load.cshtml", new ViewDataDictionary()
       {
           {"pageIndex",Model.pageIndex},{"totalCount",Model.totalCount},{"pageSize",Model.pageSize}
       })
    </div>


<script>  
    var page = '@page';
    $(function () {       

    });

    function deletemsg(id) {
        if (confirm("确定删除消息？")) {
            $.post('../message/deletesend', { id: id }, function (data) {
                if (data.status == true) {
                    $.dialog.tips("删除成功");
                    query();
                }
                else {
                    $.dialog.alert("删除失败！请重试");
                    return false;
                }
            });
        }
        else
            return false;
    }

    function showmsg(id) {
        $.post("../message/showmsg2", { id: id }, function (data) {
            if (data.status == true) {
                onewin = $.dialog({
                    id: 'win_repair', lock: true, max: false, min: false, width: 570, height: 400, resize: false,
                    title: "消息查看-" + data.value,
                    content: '<table style="margin-top:10px;" width="500px" border="0" cellspacing="0" cellpadding="0">'
                        + '<tr><td>' + data.message + '</td></tr><tr><td>接收人：'+data.value2+'</td></tr></table>'
                });
            }
            else {
                $.dialog.alert("打开失败");
            }
        });
    }
</script>