@{
    Layout = null;
    var one = Model.model as Enterprise.Invoicing.Entities.Models.Supplier;
    var type = Model.type;
    var id = Model.id;
    int stype = 0;
    if (type=="edit")
    {
        stype = one.type;
    }
    else
    {
        one.fax = 0;
    }
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>供应商</title>
    <link href="~/Content/themes/wms_front.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.7.1.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.8.20.min.js"></script>
      <script src="~/Scripts/lhgdialog/lhgdialog.js"></script> 
      <script src="~/Scripts/jquery-ui-date-cn_zh.js"></script> 
    <link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
    <script>
        var api = frameElement.api, W = api.opener, cDG;
        var id='@id',  type='@type';
        function save() {
            var rad = $('input:radio[name="radcheck"]:checked').val();
            var name = $("#txtname").val();
            var phone = $("#txtphone").val();
            var person = $("#txtperson").val();
            var address = $("#txtaddress").val();
            var no = $("#txtno").val();
            var fax = $("#ddlfax").val();
            var settle = $("#txtday").val();
            var stype = 0;
            var remark = $("#txtremark").val();
            if (name == '') {
                $.dialog.alert("名称不能为空！");
                return false;
            }
            $.dialog.tips('提交中...', 4, 'loading.gif');
            $.post("../manage/savesupplier",
                {
                    id: id, rad: rad, name: name, phone: phone, person: person, stype: stype, address: address, remark: remark, no: no, fax: fax, settle: settle
                }, function (data) {
                if (data.status == false) {
                    $.dialog.alert(data.message);
                    return false;
                }
                else {
                    W.loadgrid();
                }
            });
        }
    </script>
</head>
<body  class="add_pop_box">
    <div>
   <div class="in">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="21%" align="right">类别：</td>
    <td width="23%">供应商 </td>
    <td width="21%" align="right">名称：</td>
    <td width="35%"><input id="txtname" name="" value="@one.supplierName" type="text" /></td>
  </tr>
  <tr>
    <td align="right">联系人：</td>
    <td><input name="" id="txtperson" value="@one.person" type="text" /></td>
    <td align="right">电话：</td>
    <td><input name="" id="txtphone" value="@one.phone" type="text" /></td>
  </tr>
  <tr>
    <td align="right">地址：</td>
    <td><input name="" id="txtaddress" value="@one.address" type="text" /></td>
    <td align="right">状态：</td>
    <td>
        &nbsp;<input id="rad1" name="radcheck" type="radio" value="1" checked="checked"  style="width:20px;"/>正常  
        &nbsp;<input style="width:20px;" id="rad0" name="radcheck" type="radio" value="0" />停用
    </td>
  </tr>
  <tr>
    <td align="right">代码：</td>
    <td><input name="" id="txtno" value="@one.supplierNo" type="text" /></td>
    <td align="right">税率</td>
    <td><select id="ddlfax"><option @(one.fax==0?"selected=selected":"") value="0">不开票</option><option @(one.fax==3?"selected=selected":"")  value="3">3%</option><option @(one.fax==17?"selected=selected":"")  value="17">17%</option></select></td>
  </tr>
  <tr>  <td align="right">结算日：</td>
    <td>
        <select id="txtday">
            @for (int i = 1; i < 32; i++)
            {
                <option value="@i" @(i==one.settleDay?"selected=selected":"")>@i 号</option>
            }
        </select>
        </td>
    <td align="right">备注：</td>
    <td height="50">
        <input id="txtremark" name="" value="@one.remark" type="text" />
    </td>
    </tr>
  <tr>
    <td align="right">&nbsp;</td>
    <td height="50" colspan="3">
        <a href="javascript:void(0);" onclick="save();" class="btn_refer2">提交</a>
    </td>
    </tr>
</table>
</div>
</div>
</body>
</html>
