@{
    var type = Model.type;
    var message = Model.message;
    var no = Model.no;
    var one = Model.one as Enterprise.Invoicing.ViewModel.StockModel;
    var mc = Model.mc as List<SelectListItem>;
    mc.Insert(0, new SelectListItem { Value = "", Text = "请选择快递公司" });
    string order = "";
    var supplier = 0;
    if (type == "edit")
    {
        supplier = one.supplierId;
        ViewBag.Title = "编辑特殊销售出库单";
        order = one.bomOrderNo;
       var hmc= mc.FirstOrDefault(p => p.Value == one.express);
       if (hmc!=null)
       {
           hmc.Selected = true;
       }
    }
    else
    {
        type = "add";
        ViewBag.Title = "新增特殊销售出库单";
    }
}
<div class="layout_guild"><i></i>您当前的位置：出库管理 > <a href="../stockout/outlist">出库单列表</a> > 特殊销售出库 </div>
<div class="content">
    <input type="hidden" value="@type" id="hidtype" />
    <input type="hidden" value="@message" id="message" />
    <input type="hidden" value="@no" id="hidno" /> 
    @if (type == "add")
    {
<div class="material_refer" style="height:80px;">
<label>出库单号：</label><input name="" type="text" readonly="readonly"  class="input_gray" style="width:100px;" value="@no" />
<label>出库部门：</label><input name="" id="txtinsn" readonly="readonly" class="input_gray" type="text"  style="width:90px;" value="@Enterprise.Invoicing.Web.Masterpage.CurrUser.dep_name"/>
<label>出库人：</label><input name="" id="txtperson" readonly="readonly" class="input_gray" type="text" style="width:50px;"  value="@Enterprise.Invoicing.Web.Masterpage.CurrUser.name" /> 
<label>仓库：</label><input name="" id="txtdeport" type="text" value=""/> <label>备注：</label><input name="" id="txtremark" type="text" value=""  style="width:200px;"/>  
<br />
<label>客户：</label><input name="" type="text" id="txtcustomer2"  style="width:250px;" /> 
<label>快递公司：</label>@Html.DropDownList("ddlexpress", mc, new {style="width:100px;" })
<label>快递单号：</label><input name="" type="text" id="txtexpress"  style="width:150px;" /> 
<label>销售日期：</label><input name="" id="dateout" readonly="readonly" style="width:90px;" type="text" value="@DateTime.Now.ToString("yyyy-MM-dd")"/>   
</div>
    }

@if (type == "edit")
{
    <div class="material_refer" style="height:80px;">
<label>出库单号：</label><input name="" type="text" readonly="readonly"  class="input_gray" style="width:100px;" value="@one.stockNo" /><label>
<label>出库部门：</label><input name="" type="text"  class="input_gray" readonly="readonly" style="width:90px;" value="@one.depName"/>
<label>出库人：</label><input name="" type="text" readonly="readonly" class="input_gray" style="width:50px;" value="@one.staffName" />   
<label>仓库：</label><input name="" id="txtdeport" type="text" value="@one.deportStaff"/>
    <label>备注：</label><input name="" id="txtremark" type="text" value="@one.remark" style="width:200px;"/>  
        <br />
<label>客户：</label><input name="" type="text"  class="input_gray" readonly="readonly" style="width:250px;" value="@one.supplierName"/>
<label>快递公司：</label>@Html.DropDownList("ddlexpress", mc, new {style="width:100px;" })
<label>快递单号：</label><input name="" type="text" id="txtexpress" value="@one.expresscode" style="width:150px;" /> 
<label>销售日期：</label><input name="" id="dateout" readonly="readonly" style="width:90px;" type="text" value="@(one.outDate.HasValue?one.outDate.Value.ToString("yyyy-MM-dd"):DateTime.Now.ToString("yyyy-MM-dd"))"/>   
</div>
}
<div class="content_main">
<h2 id="htitle"><i></i>销售明细</h2>
    <div class="add">
    <ul>
        <li><label>产品：</label><input name="" type="text" id="txtcatematerial"  style="width:250px;"/></li>
         <li><label>数量：</label><input name="" type="text" id="txtcount" onblur="isnumber('#txtcount');" class="input_width_80px"/></li>
         <li><label>单价：</label><input name="" type="text" id="txtprice" onblur="isnumber('#txtprice');" class="input_width_80px"/></li>
         <li><label>备注：</label><input name="" type="text" id="txtrem"  style="width:180px;" /></li>
         <li><a  href="javascript:void(0);" id="btngl" class="gray_btn" onclick="adddetail();">新增</a>
             <input type="hidden" id="hidcount" value="0" />
    <input type="hidden" id="hiddetail" value="" />
    <input type="hidden" id="hidarr" value="" />
</li>   </ul>
</div>
<div  id="detail_table">
@{
    Html.RenderAction("outtselldetail", "stockout", new { no = no, order = order });   
}
</div> 



</div>

</div>
<script>    
    var no = '@no';
    var type = '@type';


    var hdetail = 0;
    var hcount = 0;
    var hmaterial = "";
    var hname = "";
    var hmodel = "";
    var htype = "";
    supplierid = '@supplier';
    order = '';
    $(function () {
        var msg = $("#message").val();
        if (msg != "") {
            $.dialog.alert(msg);
            return false;
        }

        $("#txtcustomer2").autocomplete({
            source: function (request, response) {
                var key = $("#txtcustomer2").val();
                $.get("../main/querycustomer", { key: key, type: 1 }, function (data) {
                    response($.map(data, function (item) {
                        return {
                            label: item.name,
                            name: item.name,
                            value: item.id,
                        }
                    }));
                });
            },
            minLength: 1,
            select: function (event, ui) {
                var item = ui.item.name;
                $("#txtcustomer2").val(ui.item.name);
                $("#ddlorderno").html("<option value=''>请选择</option>");
                supplierid = ui.item.value;
                suppliername = ui.item.name;
                return false;
            }
        });

        $("#dateout").datepicker({
            dateFormat: "yy-mm-dd",
            showOn: "button",
            buttonImageOnly: true,
            buttonImage: '../images/front/public/calendar.gif',
            changeMonth: true,
            numberOfMonths: 1
        });
    });
    function adddetail() {
        if (hmaterial == '' || $("#txtcatematerial").val() == '' || $("#txtcount").val() == '' || $("#txtprice").val() == '') {
            $.dialog.tips("产品、数量、单价不能为空！");
            return false;
        }
        var tr = $("#tabbody").attr("maxtr");
        var newtr = parseInt(tr) + 1;
        $("#tabbody").append("<tr id='dtr_" + newtr + "' m='" + hmaterial + "' p='" + $("#txtprice").val() + "' c='" + $("#txtcount").val() + "' r='" + $("#txtrem").val() + "'><td>" + newtr + "</td><td>" + hmaterial + "</td><td>" + hname + "</td><td>" + hmodel
            + "</td><td>" + $("#txtcount").val() + "</td><td>" + $("#txtprice").val() + "</td><td>"
            + (parseFloat($("#txtprice").val()) * parseFloat($("#txtcount").val())) + "</td><td>" + $("#txtrem").val() + "</td>"
            + "<td><a href='javascript:void(0);' onclick='deldetail(" + newtr + ");'>删除</a></td>");
        $("#tabbody").attr("maxtr", newtr);
        $("#btndiv").show();
    }
    function isnumber(id) {
        var v = $(id).val();
        if (isNaN(v)) {
            $.dialog.tips("请输入数字格式！");
            $(id).val('');
        } if (parseInt(v) < 1) {
            $.dialog.tips("数字不能小于1！");
            $(id).val('');
        }
    }
 
</script>
