@{
    Layout = null;
    ViewBag.Title = "销售退单列表";
    var list = Model.list as List<Enterprise.Invoicing.Entities.Models.V_ReturnOutModel>;
    int count = 0;
    var first = "";
    if (list!=null&&list.Count>0)
    {
        first = list[0].returnNo;
        count = list.Count;
    }
    var page = Model.pageIndex;
    var pi = 1;
    var dpi = 1;
    var pageindex = Model.pageIndex;
    var pagesize = Model.pageSize;
    if (pageindex > 1)
    {
        pi = (pageindex - 1) * pagesize + 1;
    }
    string viewname = "";
     }

<!--表格内容-->

<div class="detail_unfold" style="margin-left:10px;margin-right:10px;margin-top:10px; min-height:500px;*+height:100%; border:1px solid #cbdce7; border-top-left-radius:4px;border-top-right-radius:4px;">
<h2>销售退单</h2>
<table width="100%" border="0" cellspacing="0" cellpadding="0" class="table_common">
 <thead>
  <tr>
       <th width="5%">序号</th>
    <th width="13%" style="cursor:pointer;" onclick="orderlist('returnNo')">退单号</th>
  @*  <th width="6%" style="cursor:pointer;" onclick="orderlist('returnNo')">类别</th>*@
    <th width="18%" style="cursor:pointer;" onclick="orderlist('returnNo')">客户</th>
    <th width="10%" style="cursor:pointer;" onclick="orderlist('depName')">部门</th>
    <th width="7%" style="cursor:pointer;" onclick="orderlist('staffName')">入库人</th>
    <th width="10%" style="cursor:pointer;" onclick="orderlist('createDate')">退单时间</th>
    <th width="7%" style="cursor:pointer;" onclick="orderlist('status')">状态</th>
    <th width="15%" style="cursor:pointer;" onclick="orderlist('remark')">备注</th>
    <th width="15%">操作</th>
  </tr>
  </thead>
 <tbody>
     @foreach (var item in list)
     {  
         <tr><td colspan="10">
             <table width="100%" border="0" cellpadding="0" cellspacing="0" >
	<tbody>
        <tr  id="tr_@dpi" onclick="loaddetail(@dpi,'../stockout/returnlistview?no=@item.returnNo')">
      <td width="5%">@pi</td>
    <td width="13%">@item.returnNo</td>
    @*<td width="6%">@item.returnName</td>*@
    <td width="18%">@item.supplierName</td>
    <td width="10%">@item.depName</td>
    <td width="7%">@item.staffName</td>
    <td width="10%">@item.createDate.ToString("yyyy-MM-dd")</td>
    <td width="7%">
        @Enterprise.Invoicing.Common.Utils.GetStatus(item.status)
    </td>
    <td width="15%">@item.remark</td>
    <td width="15%"> 
         @if (Enterprise.Invoicing.Web.Masterpage.CheckRight("stockout_rsell_check"))
            {   
       <a href="javascript:void(0);" onclick="changestatus('stockreturn','@item.returnNo',@item.status,'../stockout/rselllist?page=@page')">@Html.Raw(@Enterprise.Invoicing.Common.Utils.GetBtnStr(item.status))</a>
    }
      @if (item.status==0)
      {
          if (Enterprise.Invoicing.Web.Masterpage.CheckRight("stockout_rsell_update") || item.staffId == Enterprise.Invoicing.Web.Masterpage.CurrUser.staffid)
            { 
         <a href="returnone?type=edit&page=@page&no=@item.returnNo" title="修改">修改</a>}
          if (Enterprise.Invoicing.Web.Masterpage.CheckRight("stockout_rsell_invalid"))
            {   <a href="javascript:void(0);" onclick="changestatus('stockreturn','@item.returnNo',-1,'../stockout/rselllist?page=@page')" title="作废">作废</a>}
          if (Enterprise.Invoicing.Web.Masterpage.CheckRight("stockout_rsell_delete") || item.staffId == Enterprise.Invoicing.Web.Masterpage.CurrUser.staffid)
            {   <span onclick="deleteone('../stockout/returndelete','@item.returnNo','销售退单');"  title="删除">删除</span>     }
      }
     @if (Enterprise.Invoicing.Web.Masterpage.CheckRight("stockout_rsell_print"))
          {
              <span onclick="print('销售退单','stockreturn','@item.returnNo');"  title="打印">打印</span>
          }     
	</td>
   </tr>
                	  </tbody>
    </table>      
          <div  id="detai_div_@dpi" style="display:none;">
              @{
         Html.RenderAction("returnlistview", "stockout", new { no = "" });
      }
        </div>

             </td></tr>
         pi++;
         dpi++;
 }
     @if (list.Count < 1)
     {
         <tr><td colspan="9">无销售退单</td></tr> 
     }
  </tbody>  
</table>
        </div>
    <div class="pagelinks_container" style="margin-bottom:10px;">
	 @Html.Partial("~/Views/Shared/page_load.cshtml",new ViewDataDictionary()
       {
           {"pageIndex",Model.pageIndex},{"totalCount",Model.totalCount},{"pageSize",Model.pageSize}
       })
    </div>
<script>  
    var c = '@count';
    var detail = [];
    var close = [];
    page='@page'
    $(function () {       
        for (var i = 0; i < c; i++) {
            detail.push(0);
            close.push(0);
        }
        if ('@first' != '') {
           // loaddetail(1, '../stockout/inlistview?no=@first');
        }
    });
   
</script>