@{
    var type = Model.type;
    var no = Model.no;
    var one = Model.one as Enterprise.Invoicing.ViewModel.ReturnModel;
    var ddl = Model.ddl as List<Enterprise.Invoicing.Entities.Models.Supplier>;
    var supplier = 0;
    if (type == "edit")
    {
        supplier = one.supplierId;
        ViewBag.Title = "编辑退单";
    }
    else
    {
        type = "add";
        ViewBag.Title = "新增退单";
    }
}
<div class="layout_guild"><i></i>您当前的位置：入库管理 > <a href="../stockin/inlist">退单列表</a> > 采购单退单 </div>
<div class="content">
    <input type="hidden" value="@type" id="hidtype" />
    <input type="hidden" value="@no" id="hidno" /> 
    @if (type == "add")
    {
<div class="material_refer">
<label>退单号：</label><input name="" type="text" readonly="readonly"  class="input_gray" style="width:100px;" value="@no" />
<label>供应商：</label><input name="" type="text" id="txtsupplier2"  style="width:120px;" /> 
<label>采购部门：</label><input name="" id="txtinsn" readonly="readonly" class="input_gray" type="text"  style="width:90px;" value="@Enterprise.Invoicing.Web.Masterpage.CurrUser.dep_name"/>
<label>采购人：</label><input name="" id="txtperson" readonly="readonly" class="input_gray" type="text" style="width:50px;"  value="@Enterprise.Invoicing.Web.Masterpage.CurrUser.name" /> 
<label>仓库：</label><input name="" id="txtdeport" type="text" value=""/><label>备注：</label><input name="" id="txtremark" type="text" value=""/>  
@*<a href="javascript:void(0);" id="btncreate" class="btn_refer">提交</a>*@
</div>
    }

@if (type == "edit")
{
    <div class="material_refer">
<label>退单号：</label><input name="" type="text" readonly="readonly"  class="input_gray"  style="width:100px;" value="@one.returnNo" />
        <label>供应商：</label><input name="" type="text"  class="input_gray" readonly="readonly" style="width:90px;" value="@one.supplierName"/>
<label>采购部门：</label><input name="" type="text"  class="input_gray" readonly="readonly" style="width:90px;" value="@one.depName"/>
<label>采购人：</label><input name="" type="text" readonly="readonly" class="input_gray" style="width:50px;" value="@one.staffName" />   
<label>仓库：</label><input name="" id="txtdeport" type="text" value="@one.deportStaff"/><label>备注：</label><input name="" id="txtremark" type="text" value="@one.remark"/>  
</div>
}
<div class="content_main">
<!--左侧导航-->
<div id="sidebar_left">
<h2>申请单号</h2>
<div>
<input type="text" value="关键字" id="txtquery" /><a href="javascript:void(0);" onclick="btnquery()" class="btn">查询</a>
</div>
    
<div id="div_ul">
    @{
        Html.RenderAction("needreturnone", "stockin", new { no = no, supplier = supplier, query = "" });   
    }
</div>
</div>

<!--左侧导航结束-->

<!--右侧表格-->
<div id="right_area">
<h3 id="t_order"></h3>
<div class="clear"></div>
<div id="div_tab" class="right_area_list">
</div>

    <div id="tab_haddetail"> 
</div>
</div>

</div>

</div>
<script>    
    var selectindex = 0;
    var order = '';
    var no = '@no';
    supplierid = '@supplier';
    $(function () {
        var type = $("#hidtype").val();
        if (type == "add") {
            $("#txtinsn").removeAttr("readonly");
        }

        $("#txtquery").autocomplete({
            source: function (request, response) {
                var key = $("#txtquery").val();
                $.get("../stockin/queryorder", { key: key, supplier: supplier }, function (data) {
                    response($.map(data, function (item) {
                        return {
                            label: item.value,
                            value: item.value
                        }
                    }));
                });
            },
            minLength: 1,
            select: function (event, ui) {
                var item = ui.item;
            }
        });
        $("#txtquery").focus(function () {
            var v = $("#txtquery").val();
            if (v == "关键字") {
                $("#txtquery").val("");
            }
        });
        $("#txtquery").blur(function () {
            var v = $("#txtquery").val();
            if (v == "") {
                $("#txtquery").val("关键字");
            }
        });
        $("#txtsupplier2").autocomplete({
            source: function (request, response) {
                var key = $("#txtsupplier2").val();
                $.get("../main/querycustomer", { key: key, type: 0 }, function (data) {
                    response($.map(data, function (item) {
                        return {
                            label: item.name,
                            name: item.name,
                            value: item.id,
                        }
                    }));
                });
            },
            minLength: 1,
            select: function (event, ui) {
                var item = ui.item.name;
                $("#txtsupplier2").val(ui.item.name);
                supplierid = ui.item.value;
                suppliername = ui.item.name;
                btnquery();
                return false;
            }
        });
    });
    function btnquery() {
        var key = $("#txtquery").val();
        if (key == "关键字") key = "";
        $("#div_ul").load("../stockin/needreturnone", { query: key,supplier:supplierid, no: no }, function (data) { });
    }
    function sel_order(o, inno) {
        if (o == order) return;
        order = o;
        $("#t_order").text(order);
        $("#div_tab").load("../stockin/canreturntab", { order: order, no: inno }, function (data) { });
    }

    function saveindeail() {
        var txts = $("input[ftype='txtin']");
        var txtr = $("input[ftype='txtrem']");
        //var txtp = $("select[ftype='txtinp']");
        if (txts.length < 1 ) {//|| txts.length!=txtp.length
            $.dialog.alert("无订单明细！");
            return false;
        }
        var details = [];
        var counts = [];
        var prices = [];
        var deoptname = [];
        var models = [];
        var remarks = [];
        var msg = "";
        for (var i = 0; i < txts.length; i++) {
            var o = $(txts[i]);
            var cu = o.attr("cu");
            //if (cu == 1) {
            var zc = o.attr("zc");//总采购数
            var ic = o.attr("ic");//本次入库
            //var hb = o.attr("hb");//未入库数
            var detail = o.attr("detail");
            var tabindex = o.attr("tabindex");
            var m = o.attr("m");
            //var vp = $("#ddldepot" + tabindex).val();
            //var depotn = $('#ddldepot' + tabindex + ' option:selected').text();;
            var v = o.val();
            if (v == "") v = 0;
            if (isNaN(zc) || isNaN(ic) || isNaN(v) ) {//|| isNaN(vp)
                msg += ("第" + (tabindex + 1) + "行数量格式有误！");
            }
            zc = Number(zc);
            ic = Number(ic);
            //hb = Number(hb);
            v = Number(v);
            //vp = Number(vp);
            if (v == 0) continue;
            if (v < 0 || v > zc ) {//|| vp < 0
                msg += ("第" + (tabindex + 1) + "行数量有误！");
            }
            //if (v > 0 && vp <= 0) {
            //    msg += ("第" + (tabindex + 1) + "行请选择仓库！");
            //}
            if (v > zc) {// hb + ic
                msg += ("第" + (tabindex + 1) + "行最多可退单的数量为：" + zc.toString() + "！");
            }
            var r = $(txtr[i]);
            remarks.push(r.val());
            details.push(detail);
            counts.push(v);
            //prices.push(vp);
            models.push(m);// deoptname.push(depotn);
            //}
        }
        if (msg != "") {
            $.dialog.alert(msg);
            return false;
        }
        if (details.length < 1 || details.length != counts.length) {
            $.dialog.alert("未提交退单数据！");
            return false;
        }
        $.post("../stockin/savereturnonetemp", {
            no: no, details: details.toString(), counts: counts.toString(), remarks: remarks.toString(), //depotids: prices.toString(), depotnames: deoptname.toString(),
            models: models.toString()
        }, function (data) {
            //if (data.status == false) {
            //    $.dialog.alert(data.message);
            //    return false;
            //}
            //else {
            $("#tab_haddetail").load("../stockin/needreturntemp", { no: no }, function (data) { });
            //}
        });

    }
    function deldetailtemp(sn,m) {
        $.post("../stockin/deletereturntemp", { no: no, sn: sn, m: m }, function (data) {
            if (data.status == false) {
                $.dialog.alert(data.message);
                return false;
            }
            else {
                $("#tab_haddetail").load("../stockin/needreturntemp", { no: no }, function (data) { });

            }
        });
    }
    function savestockin() {
        var r = $("#txtremark").val();
        if (supplierid == 0) {
            $.dialog.alert("请选择供应商");
            return false;
        }
        $.post("../stockin/savereturn", { no: no, type: '@type', supplier: supplierid, remark: r }, function (data) {
            if (data.status == false) {
                $.dialog.alert(data.message);
                return false;
            }
            else {
                $.dialog.tips('提交成功...', 1, 'loading.gif');
                window.location.href = "../stockin/returnlist";
            }
        });
    }
</script>
